@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.subContainer > h2{
    font-family: 'Playfair Display';
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

.login-container{
    background-color: #F2F2F2;
    width: 100%;
    min-height: calc(100% - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    height: 385px;
    width: 395px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-group > label{
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    color: #5E5E5E;
    margin-bottom: 10px;
}   

.form-group > input{
    width: 240px;
    height: 30px;
    background-color: #F4F4F4;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.login-form > button{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #212121;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
}