@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.viewPost {
    min-width: calc(320px - 22px);
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 62px;
}

.viewPost__sectionTitle {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 19px;
    border-bottom:1px solid #3F3F3F;
}

.viewPost__title {
    font-size:45px;
    font-weight:600;
    font-family:"Playfair Display";
    color:#000;
}

.viewPost__newPost {
    width:181px;
    height:49px;
    border-style:none;
    border-radius:5px;
    color:#FFF;
    background-color:#212121;
    font-size:20px;
    font-weight:500;
}

.viewPost__postContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(618px, 1fr));
    row-gap: 48px;
    padding-block: 63px;
    position: relative;
    justify-items: center;
}

.viewPost__post {
    min-width: 610px;
    width: 100%; 
    height: 141px;
    display: flex;
    flex-direction: row;
    position: relative;  
}

.viewPost__iconsSection {
    position: absolute; 
    top: 7px; 
    left: 9px; 
    margin-top:7px;
    margin-left:9px;
    width: 55px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.58); 
    z-index: 10; 
    cursor: pointer;
}

.viewPost__create {
    font-size: 18 px; 
    color: #212121;
    cursor: pointer;
    margin-right: 5px;
}

.viewPost__link {
    font-size: 11px;
    color: #212121;
    cursor: pointer;
}

.viewPost__imgPost {
    max-width: 460px;
    min-width: 239px;
    max-height: 142px;
    min-height: 142px;
}

.viewPost__textContainer{
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 10px;
    border-block: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.viewPost__postTitle {
    font-size:25px;
    font-weight:600;
    font-family:"Playfair Display";
    color:#212121;
    margin-bottom: 18px;
    line-height: 24px;
    cursor: pointer;
}

.viewPost__postContent {
    font-size:13px;
    font-weight:500;
    color:#5E5C5C;
    line-height: 15px;
}

.viewPost__post{
    min-width: 618px !important;
    max-width: 618px !important;
}

.truncated-text {
    display: -webkit-box;        /* Required for webkit browsers */
    -webkit-line-clamp: 2;       /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    max-width: calc(392px - 44px);            /* Set the desired max width */
    white-space: normal;         /* Allow wrapping to the next line */
}

.truncated-text-2 {
    display: -webkit-box;        /* Required for webkit browsers */
    -webkit-line-clamp: 3;       /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for webkit browsers */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    max-width: calc(392px - 44px);            /* Set the desired max width */
    white-space: normal;         /* Allow wrapping to the next line */
}

.viewPost__userSection {
    margin-top: 124px;
    width: 991px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.userSection__firstSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:94px;
}

.titleContainer__textQuestion {
    text-align: start;
    font-size:36px;
    font-weight:500;
    color:#000;
}

.titleContainer__textStart {
    text-align: start;
    font-size:36px;
    font-weight:500;
    color:#5C5C5C;
}

.userSection__searchBar {
    display: flex;
    flex-direction: row;
}

.searchBar__input {
    width:379px;
    height:63px;
    background-color: #FFF;
    border:1px solid #CCCCCC;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.searchBar__iconSection {
    width: 81px;
    height: 63px;
    background-color: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    z-index: 1;
}

.viewPost__lastPost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.lastPost__img {
    width:558px;
    height:314px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    height: 100%;
    border-radius: 5px;
}

.lastPost__information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left:42px;
    flex-grow: 1; /* Permite que la información ocupe el espacio restante */
}

.information__title {
    font-family:"Playfair Display";
    text-align: start;
    font-size:31px;
    font-weight:600;
    color:#212121;
    /* margin-bottom: 46px; */
}

.information__date {
    text-align: start;
    font-size:15px;
    font-weight:500;
    color:#787878;
    /* margin-bottom: 46px; */
}

.information__dataPost {
    text-align: start;
    font-size:15px;
    font-weight:500;
    color:#5E5C5C;
    /* margin-bottom: 46px;  */
}

.information__keepReadingContainer{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.keepReadingContainer__text {
    text-align: start;
    font-size:15px;
    font-weight:600;
    color:#000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
}

.iconSection__searchIcon {
    font-size:32px;
    color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .viewPost{
        padding-inline: 22px;
    }    

    .viewPost__post{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
        flex-direction: column;
        overflow: hidden;
        max-height: 378px;
        height: fit-content;
    }

    .viewPost__imgPost{
        min-width: calc(320px - 44px) !important;
        max-width: calc(320px - 44px) !important;
    }

    .viewPost__postContainer{
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
        row-gap: 40px;
        justify-items: center;
    }

    .viewPost__textContainer{
        padding: 0;
        border-bottom: 1px solid #CCCCCC;
        border-inline: 1px solid #CCCCCC;
        padding-inline: 10px;
        padding-block: 5px; 
    }

    .viewPost__title{
        font-size: 28px;
    }

    .viewPost__postTitle{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 20px;
        border-bottom: 2px solid black;
        display: inline-block; 
    }

    .viewPost__postContent{
        font-size: 12px;
    }

    .truncated-text {
        display: -webkit-box;        /* Required for webkit browsers */
        -webkit-line-clamp: 2;       /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Required for webkit browsers */
        overflow: hidden;            /* Hide overflowing text */
        text-overflow: ellipsis;     /* Add ellipsis (...) */
        max-width: calc(320px - 44px);            /* Set the desired max width */
        white-space: normal;         /* Allow wrapping to the next line */
    }

    .truncated-text-2 {
        display: -webkit-box;        /* Required for webkit browsers */
        -webkit-line-clamp: 3;       /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Required for webkit browsers */
        overflow: hidden;            /* Hide overflowing text */
        text-overflow: ellipsis;     /* Add ellipsis (...) */
        max-width: calc(320px - 44px);            /* Set the desired max width */
        white-space: normal;         /* Allow wrapping to the next line */
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .viewPost__userSection {
        margin-top: 60px;
        width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .userSection__firstSec {
        flex-direction: column;
        margin-bottom:40px;
    }

    .firstSec__titleContainer {
        margin-bottom: 28px;
    } 

    .titleContainer__textQuestion {
        text-align: center;
        font-size:21px;
    }

    .titleContainer__textStart {
        text-align: center;
        font-size:21px;
    }

    .searchBar__input {
        width: 238px;
        height: 56px;
    }

    .searchBar__iconSection {
        height: 56px;
    }

    .viewPost__lastPost {
        flex-direction: column;
        align-items: center;
    }
    
    .lastPost__img {
        width: 316px;
        height: 200px;
        margin-bottom: 20px;
    }

    .lastPost__information {
        padding-left:0px;
    }

    .information__title {
        font-size:21px;
        margin-bottom: 12px;
    }
    
    .information__date {
        font-size:11px;
        margin-bottom: 12px;
    }
    
    .information__dataPost {
        font-size:10px;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 425px) and (max-width: 950px) {
    .viewPost__userSection {
        width: 456px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .userSection__firstSec {
        flex-direction: column;
        margin-bottom:40px;
    }

    .firstSec__titleContainer {
        margin-bottom: 28px;
    } 

    .titleContainer__textQuestion {
        text-align: center;
        font-size:26px;
    }

    .titleContainer__textStart {
        text-align: center;
        font-size:26px;
    }

    .searchBar__input {
        width: 340px;
        height: 56px;
    }

    .searchBar__iconSection {
        height: 56px;
    }

    .viewPost__lastPost {
        flex-direction: column;
        align-items: center;
    }
    
    .lastPost__img {
        width: 421px;
        height: 240px;
        margin-bottom: 20px;
    }

    .lastPost__information {
        width: 421px;
        height: 100%;
        padding-left:0px;
    }

    .information__title {
        font-size:24px;
        margin-bottom: 12px;
    }
    
    .information__date {
        font-size:13px;
        margin-bottom: 12px;
    }
    
    .information__dataPost {
        font-size:12px;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1023px) {
    .viewPost__userSection {
        width: 865px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .userSection__firstSec {
        display: flex;
        flex-direction: row;
        margin-bottom:40px;
        width: 100%;
    }

    .firstSec__titleContainer {
        margin-bottom: 0px;
    } 

    .titleContainer__textQuestion {
        text-align: start;
        font-size:26px;
    }

    .titleContainer__textStart {
        text-align: start;
        font-size:26px;
    }

    .searchBar__input {
        width: 230px;
        height: 56px;
    }

    .searchBar__iconSection {
        height: 56px;
    }

    .viewPost__lastPost {
        width: 875px;
        flex-direction: row;
        align-items: center;
    }
    
    .lastPost__img {
        width: 421px;
        height: 240px;
        margin-bottom: 20px;
    }

    .lastPost__information {
        padding-left:20px;
        width: 421px;
        height: 100%;
    }

    .information__title {
        font-size:24px;
        margin-bottom: 12px;
    }
    
    .information__date {
        font-size:13px;
        margin-bottom: 12px;
    }
    
    .information__dataPost {
        font-size:12px;
        margin-bottom: 12px;
    }
}